### 第五章 pandas入门

#### isnull和notnull函数可 用于检测缺失数据

In [4]:
import pandas as pd 

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000} 
states = ['California', 'Ohio', 'Oregon', 'Texas'] 
obj4 = pd.Series(sdata, index=states) 
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [5]:
 pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

#### 通过传递axis=1或axis='columns'可以删除列的值

In [7]:
import numpy as np
data = pd.DataFrame(np.arange(16).reshape((4, 4)),                 
                     index=['Ohio', 'Colorado', 'Utah', 'New York'],
                     columns=['one', 'two', 'three', 'four']) 
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [8]:
data.drop('two', axis=1)

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

#### 索引的is_unique属性可以告诉你它的值是否是唯一的

In [10]:
 obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c']) 
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [11]:
 obj.index.is_unique

False

### 第六章 数据加载、存储与文件格式

#### JSON数据

In [13]:
import json 

obj = """ 
{"name": "Wes",  
"places_lived": ["United States", "Spain", "Germany"], 
 "pet": null,  "siblings": [{"name": "Scott", "age": 30,
 "pets": ["Zeus", "Zuko"]},  {"name": "Katie","age": 38, "pets": ["Sixes", "Stache", "Cisco"]}] } 
 """

In [15]:
result = json.loads(obj) 
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [16]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [18]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age']) 
siblings

    name  age
0  Scott   30
1  Katie   38

#### XML和HTML：Web信息收集
- Python有许多可以读写常见的HTML和XML格式数据的库，包括lxml、Beautiful Soup和 html5lib。lxml的速度比较快，但其它的库处理有误的HTML或XML文件更好。
- pandas有一个内置的功能，read_html，它可以使用lxml和Beautiful Soup自动将HTML文 件中的表格解析为DataFrame对象。